{% extends "layout.html" %}
{% block content %}
<body>
  <header>
    <div class="header-wrapper">
      <div class="header-left">
        <h1>To Add Members</h1>
      </div>
      <div class="header-right">
        <p>slack連携テスト</p>
      </div>
    </div>
  </header>
  <div class= "main">
    <div class="contents">
      <form name="test" action="/add_check" method="post">
        <div class="search">
          <div class="container">
            <div class="search-form">
              <div class="search-content">
                <span class="search-title">ID</span>
                <input class="search-type1" id="id-form" type="text" name="tsuika">
              </div>
              <div class="search-content">
                <span class="search-title">姓名(漢字)</span>
                <input class="search-type3" id="FIRSTNAME-form" type="text" name="tsuika">
                <input class="search-type3" id="LASTNAME-form" type="text" name="tsuika">
              </div>
              <div class="search-content">
                <span class="search-title">姓名(カナ)</span>
                <input class="search-type3" id="firstname-form" type="text" name="tsuika">
                <input class="search-type3" id="lastname-form" type="text" name="tsuika">
              </div>
              <div class="search-content">
                <span class="search-title">入社日</span>
                <input class="search-type2" id="joined-from" type="date" max="9999-12-31" name="tsuika">
              </div>
              <div class="search-content">
                <span class="search-title">誕生日</span>
                <input class="search-type2" id="birth-from" type="date" max="9999-12-31" name="tsuika">
              </div>
              <div class="search-content">
                <span class="search-title">年齢</span>
                <input class="search-type2" id="age-from" type="number" min="0" name="tsuika">
              </div>
            </div>
            <div class="btn-form">
              <button class="btn-2 search-button" type="button" onclick="add_check('test', '/add_check', 'POST');">確認画面</button>
              <script type="text/javascript">
                function add_check(formname, url, method){
                  var f = document.forms[formname];
                  f.method = method;
                  f.action = url;
                  f.submit();

                  return true;
                }
              </script>
              <!--button class="btn-2 search-button" type="submit">追加</button-->
              <button class="btn-2 reset-button" type="submit">リセット</button>
            </div>
            {% if result %}
            <h2>{{ result }}</h2>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>

</body>


{% endblock %}
