<html>
 <head>
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
   <!-- この直下のCSSリンクはローカル確認用 -->
   <link rel="stylesheet" type="text/css" href="../static/css/index.css">
   <meta charset="utf-8">
   <title>meibo test</title>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type="text/javascript" src="{{url_for('static',filename='js/sidebar.js')}}"></script>  </head>
 </head>
{% extends "layout.html" %}
{% block content %}
<body>
  <header>
    <div class="header-wrapper">
      <div class="header-left">
        <h1>Complate</h1>
      </div>
      <div class="header-right">
        <p></p>
      </div>
    </div>
  </header>
  <div class="main">
    <div id="hoge">
    </div>
    <div class="contents">
      <div class="search-form">
        <div class="search-content">
          {% if lastword %}
          <h1 style="color:white; text-align:center;">{{ lastword }}</h1>
          {% endif %}
        </div>
      </div>
      <div class="complate-btn-form">
        <!-- <button class="btn-2 last-btn" type="button" onclick="location.href='hello.html'">TOP画面へ</button> -->
        <button class="btn-2 last-btn" type="button" onclick="location.href='/hello'">TOP画面へ</button>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../static/js/particles.js"></script>
  <script type="text/javascript" src="../static/js/setting.js"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/particles.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/setting.js')}}"></script>
</body>


{% endblock %}
</html>
