<html>
 <head>
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
   <!-- この直下のCSSリンクはローカル確認用 -->
   <link rel="stylesheet" type="text/css" href="../static/css/index.css">
   <meta charset="utf-8">
   <title>meibo test</title>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type="text/javascript" src="{{url_for('static',filename='js/sidebar.js')}}"></script>  </head>
 </head>
{% extends "layout.html" %}
{% block content %}
  <body>
    <!-- <div id="hoge"> -->
      <!-- ヘッダー -->
      <header>
        <div class="header-wrapper">
          <div class="header-left">
            <h1>Main Page</h1>
          </div>
          <div class="header-right">
            <p><a href="setting.html" class="link-button">設定画面へ</a></p>
          </div>
        </div>
      </header>
      <!-- メイン -->
      <div class= "main">
        <div id="hoge">
        </div>
        <!-- ここからサイドバー -->
        <!-- <div class="sidebar-wrapper">
          <div class="btn">
            <span class="fa fa-angle-left"></span>
            <span class="fa fa-angle-right"></span>
          </div>
          <div class= "sidebar"></div>
        </div> -->
        <div class="contents">
          <!-- 検索フォーム -->
          <form action="/" method="post">
            <div class="search">
              <div class="container">
                <div class="search-form">
                  <div class="search-content">
                    <span class="search-title">ID</span>
                    <input class="search-type1" id="id-form" type="text" name="sagasu">
                  </div>
                  <div class="search-content">
                    <span class="search-title">姓名(漢字)</span>
                    <input class="search-type3" id="FIRSTNAME-form" type="text" name="sagasu">
                    <input class="search-type3" id="LASTNAME-form" type="text" name="sagasu">
                  </div>
                  <div class="search-content">
                    <span class="search-title">姓名(カナ)</span>
                    <input class="search-type3" id="firstname-form" type="text" name="sagasu">
                    <input class="search-type3" id="lastname-form" type="text" name="sagasu">
                  </div>
                  <div class="search-content">
                    <span class="search-title">入社日</span>
                    <input class="search-type2" id="joined-from" type="date" max="9999-12-31" name="sagasu">
                    <span>〜</span>
                    <input class="search-type2" id="joined-to" type="date" max="9999-12-31" name="sagasu">
                  </div>
                  <div class="search-content">
                    <span class="search-title">誕生日</span>
                    <input class="search-type2" id="birth-from" type="date" max="9999-12-31" name="sagasu">
                    <spam>〜</span>
                    <input class="search-type2" id="birth-to" type="date" max="9999-12-31" name="sagasu">
                  </div>
                  <div class="search-content">
                    <span class="search-title">年齢</span>
                    <input class="search-type2" id="age-from" type="number" min="0" name="sagasu">
                    <spam>〜</span>
                    <input class="search-type2" id="age-to" type="number" min="0" name="sagasu">
                  </div>
                </div>
                <div class="btn-form">
                  <button class="btn-2 search-button" type="submit">検索</button>
                  <button class="btn-2 reset-button" type="submit">リセット</button>
                </div>
                <div class="btn-form">
                  <button class="btn-2 random-button" type="submit">ランダム</button>
                </div>
              </div>
            </div>
          </form>
          <div class= "clear">
            <div class= "border"></div>
          </div>
          <!-- 検索結果 -->
          <div class="result">
            <div class= "container2">
              <h2>検索結果</h2>
              <table class="table-container">
                <tr class="result-table">
                  <th>ID</th>
                  <th>姓(漢字)</th>
                  <th>名(漢字)</th>
                  <th>姓(カナ)</th>
                  <th>名(カナ)</th>
                  <th>入社日</th>
                  <th>誕生日</th>
                  <th>年齢</th>
                </tr>
                <tr class="result-table">
                  {% for id, lastname, firstname, lstyomi, fstyomi, start, birth, age in kekka %}
                  <td>{{ id }}</td>
                  <td>{{ lastname }}</td>
                  <td>{{ firstname }}</td>
                  <td>{{ lstyomi }}</td>
                  <td>{{ fstyomi }}</td>
                  <td>{{ start }}</td>
                  <td>{{ birth }}</td>
                  <td>{{ age }}</td>
                </tr>
                {% endfor %}
              </table>
              <h1>!!試験運用中!!</h1>
              <img src="{{url_for('static', filename='snake.png')}}" alt="snake">
            </div>
          </div>
        </div>
      </div>
      <!-- フッター -->
      <footer></footer>
    </div>
    <!-- この直下のjs2つはローカル確認用 -->
    <script type="text/javascript" src="../static/js/particles.js"></script>
    <script type="text/javascript" src="../static/js/setting.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/particles.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/setting.js')}}"></script>
  </body>
{% endblock %}
</html>
