<html>
 <head>
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
   <!-- この直下のCSSリンクはローカル確認用 -->
   <link rel="stylesheet" type="text/css" href="../static/css/index.css">
   <meta charset="utf-8">
   <title>meibo test</title>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type="text/javascript" src="{{url_for('static',filename='js/sidebar.js')}}"></script>  </head>
 </head>
{% extends "layout.html" %}
{% block content %}
<body>
  <header>
    <div class="header-wrapper">
      <div class="header-left">
        <h1>Last Confirmation</h1>
      </div>
      <div class="header-right">
        <p>slack連携テスト</p>
      </div>
    </div>
  </header>
  <div class="main">

  <div class="contents">
    <form class="test" action="/complete" method="post">
      <div class="ather-container">
        <div class="search-form-type3">
          <h1>As Is</h1>
          <table class="table-container last-table">
            <tr class="result-table">
              <th>ID</th>
              <th>姓(漢字)</th>
              <th>名(漢字)</th>
              <th>姓(カナ)</th>
              <th>名(カナ)</th>
              <th>入社日</th>
              <th>誕生日</th>
              <th>年齢</th>
            </tr>
            <tr>
              {% for id, lastname, firstname, lstyomi, fstyomi, start, birth, age in result %}
              <td>{{ id }}</td>
              <td>{{ lastname }}</td>
              <td>{{ firstname }}</td>
              <td>{{ lstyomi }}</td>
              <td>{{ fstyomi }}</td>
              <td>{{ start }}</td>
              <td>{{ birth }}</td>
              <td>{{ age }}</td>
            </tr>
            {% endfor %}
          </table>
          <h1>To Be</h1>
          <table class="table-container last-table">
            <tr class="result-table">
              <th>ID</th>
              <th>姓(漢字)</th>
              <th>名(漢字)</th>
              <th>姓(カナ)</th>
              <th>名(カナ)</th>
              <th>入社日</th>
              <th>誕生日</th>
              <th>年齢</th>
            </tr>
            <tr>
              {% if dic_check %}
              <td>{{ dic_check["id"] }}</td>
              <td>{{ dic_check["lastname"] }}</td>
              <td>{{ dic_check["firstname"] }}</td>
              <td>{{ dic_check["lstyomi"] }}</td>
              <td>{{ dic_check["fstyomi"] }}</td>
              <td>{{ dic_check["start"] }}</td>
              <td>{{ dic_check["birth"] }}</td>
              <td>{{ dic_check["age"] }}</td>
              {% endif %}
          </table>
          <div class="btn-container last">
            <div class= "btn-form">
              <!-- <button class="btn-2 reset-button" type="button" onclick="location.href='/complete'">更新</button>
              <button class="btn-2 reset-button" type="button" onclick="location.href='/update'">検索画面へ戻る</button> -->
              <button class="btn-2 reset-button" type="button" onclick="location.href='complete.html'">確定</button>
              <button class="btn-2 reset-button" type="button" onclick="location.href='update.html'">検索画面へ戻る</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
{% endblock %}
</html>
