<html>
 <head>
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
   <!-- この直下のCSSリンクはローカル確認用 -->
   <link rel="stylesheet" type="text/css" href="../static/css/index.css">
   <meta charset="utf-8">
   <title>meibo test</title>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type="text/javascript" src="{{url_for('static',filename='js/sidebar.js')}}"></script>  </head>
 </head>
{% extends "layout.html" %}
{% block content %}
<body>
  <header>
    <div class="header-wrapper">
      <div class="header-left">
        <h1>To Update</h1>
      </div>
      <div class="header-right">
        <p><a href="setting.html" class="link-button return">戻る</a></p>
      </div>
    </div>
  </header>
  <div class="main">
    <div id="hoge">
    </div>
    <div class="contents">
      <form name="test" action="/update_check" method="post">
        <div class="search">
          <div class="container">
            <div class="search-form">
              <div class="search-content">
                <span class="search-title">ID</span>
                <input class="search-part type1" id="id-form" type="text" name="shusei">
              </div>
            </div>
            <div class="btn-form">
              <button class="btn-2 search-button" type="button" onclick="update_check('test', 'update_check.html', 'POST');">確認</button>
              <script type="text/javascript">
                function update_check(formname, url, method){
                  var f = document.forms[formname];
                  f.method = method;
                  f.action = url;
                  f.submit();

                  return true;
                }
              </script>
              <button class="btn-2 reset-button" type="button" onclick="location.href='setting.html'">設定メニュー</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>


{% endblock %}
</html>
