{% extends "layout.html" %}
{% block content %}
<body>
  <header>
    <div class="header-wrapper">
      <div class="header-left">
        <h1>To Update</h1>
      </div>
      <div class="header-right">
        <p><a href="setting.html" class="link-button return">戻る</a></p>
      </div>
    </div>
  </header>
  <div class="main">
    <div id="hoge">
    </div>
    <div class="contents">
      <form action="/update" method="post">
        <div class="search">
          <div class="container">
            <div class="search-form">
              <div class="search-content">
                <span class="search-title">ID</span>
                <input class="search-type1" id="id-form" type="text" name="shusei">
              </div>
              <table class="table-container">
                <tr>
                  <th>ID</th>
                  <th>姓(漢字)</th>
                  <th>名(漢字)</th>
                  <th>姓(カナ)</th>
                  <th>名(カナ)</th>
                  <th>入社日</th>
                  <th>誕生日</th>
                  <th>年齢</th>
                </tr>
                <tr class="result-table">
                  {% for id, lastname, firstname, lstyomi, fstyomi, start, birth, age in result %}
                  <td>{{ id }}</td>
                  <td>{{ lastname }}</td>
                  <td>{{ firstname }}</td>
                  <td>{{ lstyomi }}</td>
                  <td>{{ fstyomi }}</td>
                  <td>{{ start }}</td>
                  <td>{{ birth }}</td>
                  <td>{{ age }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="btn-form">
              <button class="btn-2 search-button" type="submit">検索</button>
            </div>
            <div class= "clear">
              <div class= "border"></div>
            </div>
            <div class="container2">
              <div class="search-form">
                <div class="search-content">
                  <span class="search-title">ID</span>
                  <input class="search-type1" id="id-form" type="text" name="koshin">
                </div>
                <div class="search-content">
                  <span class="search-title">姓名(漢字)</span>
                  <input class="search-type3" id="FIRSTNAME-form" type="text" name="koshin">
                  <input class="search-type3" id="LASTNAME-form" type="text" name="koshin">
                </div>
                <div class="search-content">
                  <span class="search-title">姓名(カナ)</span>
                  <input class="search-type3" id="firstname-form" type="text" name="koshin">
                  <input class="search-type3" id="lastname-form" type="text" name="koshin">
                </div>
                <div class="search-content">
                  <span class="search-title">入社日</span>
                  <input class="search-type2" id="joined-from" type="date" max="9999-12-31" name="koshin">
                </div>
                <div class="search-content">
                  <span class="search-title">誕生日</span>
                  <input class="search-type2" id="birth-from" type="date" max="9999-12-31" name="koshin">
                </div>
                <div class="search-content">
                  <span class="search-title">年齢</span>
                  <input class="search-type2" id="age-from" type="number" min="0" name="koshin">
                </div>
              </div>
              <div class="btn-form">
                <button class="btn-2 search-button" type="submit">更新</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>


{% endblock %}
