<html>
 <head>
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
   <!-- この直下のCSSリンクはローカル確認用 -->
   <link rel="stylesheet" type="text/css" href="../static/css/index.css">
   <meta charset="utf-8">
   <title>meibo test</title>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type="text/javascript" src="{{url_for('static',filename='js/sidebar.js')}}"></script>  </head>
 </head>
{% extends "layout.html" %}
{% block content %}
<body>
  <header>
    <div class="header-wrapper">
      <div class="header-left">
        <h1>To Update</h1>
      </div>
      <div class="header-right">
        <p>slack連携テスト</p>
      </div>
    </div>
  </header>
  <div class="main">
    <div id="hoge">
    </div>
    <div class="contents">
      <form name="test" action="/last_check" method="post">
        <div class="search">
          <div class="container">
            <div class="search-form">
              <table class="table-container">
                <tr>
                  <th>ID</th>
                  <th>姓(漢字)</th>
                  <th>名(漢字)</th>
                  <th>姓(カナ)</th>
                  <th>名(カナ)</th>
                  <th>入社日</th>
                  <th>誕生日</th>
                  <th>年齢</th>
                </tr>
                <tr class="result-table">
                  {% for id, lastname, firstname, lstyomi, fstyomi, start, birth, age in result %}
                  <td>{{ id }}</td>
                  <td>{{ lastname }}</td>
                  <td>{{ firstname }}</td>
                  <td>{{ lstyomi }}</td>
                  <td>{{ fstyomi }}</td>
                  <td>{{ start }}</td>
                  <td>{{ birth }}</td>
                  <td>{{ age }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="search-form">
              <div class="search-content">
                <span class="search-title">ID</span>
                <input class="search-type1" id="id-form" type="text" name="kosin">
              </div>
              <div class="search-content">
                <span class="search-title">姓名(漢字)</span>
                <input class="search-type3" id="FIRSTNAME-form" type="text" name="kosin">
                <input class="search-type3" id="LASTNAME-form" type="text" name="kosin">
              </div>
              <div class="search-content">
                <span class="search-title">姓名(カナ)</span>
                <input class="search-type3" id="firstname-form" type="text" name="kosin">
                <input class="search-type3" id="lastname-form" type="text" name="kosin">
              </div>
              <div class="search-content">
                <span class="search-title">入社日</span>
                <input class="search-type2" id="joined-from" type="date" max="9999-12-31" name="kosin">
              </div>
              <div class="search-content">
                <span class="search-title">誕生日</span>
                <input class="search-type2" id="birth-from" type="date" max="9999-12-31" name="kosin">
              </div>
              <div class="search-content">
                <span class="search-title">年齢</span>
                <input class="search-type2" id="age-from" type="number" min="0" name="kosin">
              </div>
            </div>
            <div class="btn-form">
              <button class="btn-2 search-button" type="button" onclick="last_check('test', '/last_check', 'POST');">更新</button>
              <script type="text/javascript">
                function last_check(formname, url, method){
                  var f = document.forms[formname];
                  f.method = method;
                  f.action = url;
                  f.submit();

                  return true;
                }
              </script>
              <button class="btn-2 reset-button" type="button" onclick="location.href='/update'">検索画面へ戻る</button>
            </div>
          </div>

        </div>

      </form>

    </div>
  </div>
</body>


{% endblock %}
</html>
